<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Aadit Chadda</title>
    <link rel="icon" type="image/x-icon" href="{static '/images/aaditchaddalogo-removebg.png'}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="{% static '/js/main.js' %}" type="module" defer></script>

</head>
<body>

    {% include 'chadda/navbar.html' %}

<div class="sudo-body">
<div class="half-black-a">
    <div>
        <center>
        <video width="500vh" height="auto" autoplay muted style="overflow-x: hidden;">
            <source src="{% static '/images/Blue White and Black Modern Technology Logo.mp4' %}">
        </video>
        </center>
    </div>
    <div>
    <div class="my-name-thing">
        <center>
        <img class="imga" src="{% static 'images/IMG_C3B6B828935C-1-removebg-preview.png' %}">
        </center>
    </div>
    </div>
</div>

<div id="about" class="half-black">
    <div class="about-title-again" data-aos="fade-right" data-aos-duration="500">
    <div class="about-title" data-aos="fade-left" data-aos-delay="500">
        <center>
        <h1 class="about" data-aos="fade-right" data-aos-delay="700">ABOUT ME</h1>
        </center>
    </div>
    </div>
    <div>
        <div class="about-container">
            <div class="about-text-outside">
            <p class="about-text">
                Hi there I am Aadit Chadda. I am an aspiring software engineer with a passion for coding and a strong proficiency in multiple computer languages. With a track record of leading successful software and space-related operations, I have proven myself as a capable and dynamic professional in the tech industry.
                <br>
                <br>
                My achievements speak for themselves - I have won several hackathons, including the prestigious ARSSDC (Asian Regional Space Settlement Design Competition) and achieved runner-up status in the ISSDC (International Space Settlement Design Competition). These experiences have honed my technical skills, creative problem-solving abilities, and leadership qualities.
                <br>
                <br>
                I excel in working both as a part of a team and leading a team. I understand the importance of collaboration and know how to motivate and inspire others towards a common goal. My real-life work experience as a marketing intern at Rusk Media has further strengthened my communication, project management, and strategic planning skills.
                <br>
                <br>
                I am driven by my passion for innovation and my desire to contribute to the advancement of technology and space exploration. I am constantly seeking new challenges and opportunities to grow and expand my skillset. If you are looking for a results-oriented software engineer with a proven track record of success in software development, team leadership, and space-related endeavors, I would love to connect and discuss how I can add value to your organization.
            </p> 
            </div>
            <img class="imga2" style="display: inline-block;" src="{% static 'images/IMG_3665.jpeg' %}">
            <img class="arrow-image" src="{% static 'images/8-87169_white-down-arrow-png-down-arrow-white.png' %}">
        </div>
    </div>
</div>

<div class="half-white">
    <center>
    <div class="container">
    <div class="wrapper">
    <div class="static-text">I'm a </div>
    </div>
    <br>
    <div class="wrapper">
        <ul class="dynamic-text"><li><span>Software Engineer_ </span></li></ul>
    </div>

    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Web Developer_ </span></li></ul>
    </div>

    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Front-End Developer_ </span></li></ul>
    </div>

    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Data Scientist_ </span></li></ul>
    </div>
    
    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Automator_ </span></li></ul>
    </div>

    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Pythoneer_ </span></li></ul>
    </div>

    <br>

    <div class="wrapper">
    <ul class="dynamic-text"><li><span>Freelancer_ </span></li></ul>
    </div>
</div>
    </center>
</div>

<div class="half-grey">
    <blockquote class="blockquote blockquote--quoted" data-aos="flip-up">
        <p class="blockquote__text">
            Give me six hours to chop down a tree and I will spend the first four sharpening the axe.
        </p>
        <p class="blockquote__text--credit">
            - President Abraham Lincoln
        </p>
    </blockquote>
</div>

<div class="half-black">
    <div class="container-for-my-skills">
        <img class="me-black-n-white" src="{% static 'images/Subject.png' %}">
        <div class="progress-container">
            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span>Automations Development</span>
                    </div>
                    <div class="progress-line automations">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Problem Solving</span>
                    </div>
                    <div class="progress-line problem-solving">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Web-development</span>
                    </div>
                    <div class="progress-line web">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>DBMS</span>
                    </div>
                    <div class="progress-line dbms">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>JavaScript</span>
                    </div>
                    <div class="progress-line javas">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Python</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>MySQL</span>
                    </div>
                    <div class="progress-line sql">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Django</span>
                    </div>
                    <div class="progress-line djo">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>C#</span>
                    </div>
                    <div class="progress-line csha">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="half-grey-a">
    <blockquote class="blockquote blockquote--quoted" data-aos="flip-up">
        <p class="blockquote__text">
            Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away.
        </p>
        <p class="blockquote__text--credit">
            - Antoine de Saint-Exupery
        </p>
    </blockquote>
</div>

<div id="contact" class="half-white-green">
    <div class="blog-container">
        <center>
            <div class="neon-container" data-aos="zoom-in">
                <a href="{% url  'blogs' %}" data-value="-5" class="neon-button par-move">CASE STUDY & BLOGS</a>
            </div>
        </center>
        <div class="par-container">
            <img class="sexy-me par-move" data-value="5" src="{% static 'images/IMG_4045.png' %}">
        </div>
        <div class="portfolio-container par-move" data-value="3" data-aos="fade-left" data-aos-delay="300">
            <a href="{% static 'images/AADITresume.pdf' %}" target="_blank" class="portfolio"><span>← Check out my portfolio</span><i></i></a>
        </div>
    </div>
</div>
<div class="half-black-green" id="half-black-green">
    <h1 style="color: #bd97e2; padding-left: 7vw; padding-top: 5vh; padding-bottom: 5vh;">Follow me on my Socials: </h1>
    <div class="social-container">
        <div class="cont1">
        <div class="space1"></div>
        <a href="https://github.com/Aadit-Chadda" target="_blank">
        <img src="{% static 'images/socials-logo/github-512.png' %}" class="github social-circle social-icons">
        </a>
        <a href="https://www.instagram.com/aaditchadda/" target="_blank">
        <img src="{% static 'images/socials-logo/instagram-512.png' %}" class="insta social-circle social-icons">
        </a>
        </div>

        <div class="cont2">
        <div class="space3"></div>
        <a href="https://www.linkedin.com/in/aadit-chadda-862239219/" target="_blank">
        <img src="{% static 'images/socials-logo/linkedin_318-187585.png' %}" class="linkedin social-circle social-icons">
        </a>
            <img src="{% static 'images/IMG_214.png' %}" class="prof-image">
        </div>
        
        <div class="cont3">
        <div class="space2"></div>
        <a href="https://www.facebook.com/aaditchadda" target="_blank">
        <img src="{% static 'images/socials-logo/social-facebook-2019-circle-512.png' %}" class="facebook social-circle social-icons">
        </a>
        <a href="https://twitter.com/AaditChadda" target="_blank">
        <img src="{% static 'images/socials-logo/twitter_318-326109.png' %}" class="twitter social-circle social-icons">
        </a>
        </div>
    </div>
</div>

<div class="half-white-image magicpattern">
    <center>
    <div class="contact-me-container">
        <form action="https://formspree.io/f/mrgwqbep" method="POST" id="contact-form">
        <h1 class="in-touch">GET IN TOUCH</h1>
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Email ID" required>
        <input type="phone" name="phone" placeholder="Phone No.">
        <textarea name="message" rows="7" placeholder="How can I help you"></textarea>
        <button id="submitButton" type="submit">Send</button>
        </form>
    </div>
    </center>
</div>
</div>




<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
    const skillBars = document.querySelector("#skill-bars");
        const bars = document.querySelectorAll(".bar");

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add(".bar"); // Add the "animate" class to start animations
                }
            });
        }, {
            threshold: 0.5 // Adjust this threshold value as needed
        });

        bars.forEach(bar => {
            observer.observe(bar); // Observe each bar
        });
</script>

<script>
        AOS.init();
</script>

<script>
    document.getElementById('submitButton').addEventListener('click', setTimeout( function() {
        document.getElementById('contact-form').reset();
    }, 100)
    )
</script>

<script>
    document.addEventListener("mousemove", parallax);
    function parallax(e){
        document.querySelectorAll(".par-move").forEach(function(move){
            var moving_value = move.getAttribute("data-value");
            var x = (e.clientX * moving_value) / 100;
            var y = (e.clientY * moving_value) / 100;

            move.style.transform = "translateX(" + x + "px) translateY("+ y + "px)";
            move.style.zIndex = "1";
        })
    }
</script>


</body>
</html>

